.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: black;
  max-width: 700px;
  margin: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  display: flex;
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
}

.navLinks li {
  margin-left: 1rem;
}

.menuIcon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menuIcon span {
  height: 3px;
  width: 25px;
  background-color: black;
  margin-bottom: 4px;
  transition: all 0.3s ease;
}
.navLink:hover {
  color: #16a34a;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0%;
    width: 100%;
    top: 60px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  }

  .navLinks.open {
    display: flex;
  }

  .navLinks li {
    margin: 1rem 0;
  }

  .menuIcon {
    display: flex;
  }

  .menuIcon.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menuIcon.open span:nth-child(2) {
    opacity: 0;
  }

  .menuIcon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }
  .navLink {
    transition: color 0.2s ease;
  }

  /* Ensure button styles are reset */
  button.menuIcon {
    background: none;
    border: none;
    padding: 0;
  }
}
